h1{
background-color: #ccc;	
}

#taks {
	margin-top: 40px;
}
button{
	margin-top: 1%;
	
}
.task {
	box-sizing: border-box;
	padding: 10px;
	width: 300px;
	background-color: #ccc;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.tachao{
	text-decoration: line-through;
}
.destachao{
	background-color: red;
}